.candlediv {
  padding: 2vw;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.candlediv h2 {
  margin-bottom: 1rem;
}

.select {
  margin-bottom: 1vh;
  color: black;
  background-color: white;
  border-radius: 1rem;
}

.select * {
  font-size: 2vh;
  color: black;
  background-color: transparent;
}

.chart {
  color: black;
  margin-bottom: 1vh;
  background-color: black;
  height: 90%;
  z-index: -1;
  padding: 1vh;
  border-radius: 2vh;
}

.chart * {
  color: black;
}

.purchase * {
  display: inline-block;
}

.purchase button {
  font-size: 2vh;
  color: black;
}

.purchase input {
  font-size: 2vh;
  color: black;
  margin-right: 2vh;
}

p {
  padding-top: .5vh;
  padding-bottom: .5vh;
}

.green {
  color: #8fff8f;
}

.red {
  color: #ff6b81;
}