.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends h3 {
    margin-bottom: 1rem;
}

.friends ul {
    list-style-type: none;
}

.friends .social-tabs {
    margin-bottom: 1rem;
}

.friends .user-display {
    border-radius: 2.5px;
    border: thin solid palevioletred;
}

.requests-container {
    width: 25%;
}

.accept-decline-container {
    display: flex;
    flex-direction: row;
}
