.investment {
  background-color: white;
  position: relative;
  width: min(80%, 700px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10rem);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 1vh;
}

.investment * {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2.25vh;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.investment h1 {
  font-size: 3vh;
}

.investment input {
  background-color: white;
  color: black;
  border-radius: 2vh;
  border-style: outset;
  border-color: rgb(210, 92, 210);
  border-width: 2px;
  padding: 0.25rem 0rem 0.25rem 0.5rem;
}

.investment input:invalid {
  background-color: lightpink;
}
