.form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 10em;
  justify-content: space-between;
  transform: translate(-50%, 50%);
  background: white;
  border-radius: 1.5vh;
  font-size: 3vh;
}

.form h1 {
  padding-bottom: 0.5rem;
}

.form * {
  color: black;
  background: white;
}

.form input {
  padding-left: 0.5vh;
  font-size: 0.7em;
  height: 5vh;
  border-radius: 1.5vh;
  border: 0.3vh solid black;
}

.navigate-register {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigate-register p {
  background-color: transparent;
  font-size: 1.5vh;
}

.navigate-register a {
  padding: 1vh;
  font-size: 2vh;
  background-color: rgb(74, 163, 248);
  border: 0.3vh solid black;
  border-radius: 1.5vh;
}

.subreg {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

input.login {
  width: 60%;
  background-color: #d8a9e7;
}
