.menubutton {
  background-color: transparent;
  border: none;
  padding-right: 1vh;
}

.linkdropdown {
  border: thin solid black;
  padding: 1vh;
  background-color: rgb(74, 163, 248);
  position: absolute;
  top: 6.5vh;
  left: 63vw;
  border-radius: 1vh;
}

.linkdropdown * {
  font-size: 3vh;
  color: black;
  background-color: transparent;
  z-index: 2;
}
