body {
  all: initial;
  overflow: visible;
}

.stockContainer {
  padding-top: 1rem;
}

.stockDisplay {
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stockDisplay * {
  color: black;
}

.stockDisplay h1,
.stockDisplay h2,
.stockDisplay h3 {
  color: white;
}
